<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blockchain Voting System</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
  <div>
    <div class="container">
      <h2>Blockchain Voting</h2>
      <form>
        <label>Voter ID</label>
        <input type="text" placeholder="Enter your address">

        <label>Password</label>
        <input type="password" placeholder="Enter password">

        <button type="submit">Login</button>
      </form>
      <button >Connect Wallet</button>
    </div>
  </div>
</body>
</html>
